<!-- <div id="biasContainerHelper"> -->
  <div id="reviewContent" class="col-md-12 standardContainer">
    <a><span class="x">x</span></a>
    <div class="row cityNameAndScoreRow">
      <h1 id="cityName" class="cityName col-sm-10">
        <%= @clicked_city.name %>
      </h1>
      <img src="http://assets.fodors.com/destinations/21/grand-palace-night-bangkok-thailand_main.jpg"></img>
      <div class="cityCircle col-sm-2" style="background-color: <%= @clicked_city.color_gradient(@clicked_city.city_review_average) %>">
          <% unless @clicked_city.city_review_average.nil? %>
            <div class="cityScoreText"><%= number_to_percentage(@clicked_city.city_review_average * 10, precision: 0) %></div>
          <% end %>
      </div>
    </div>
      <% reviewer_ids = [] %>
      <% @clicked_city.reviews.each do |review| %>
        <% reviewer = User.find(review.user_id) %>
        <% reviewer_ids << reviewer.id %>
        <h3> <%= reviewer.first_name.capitalize %>'s Take</h3>
          <%= review.description %>
        <div class="row seeBiasButton">
          <div class="medium-6 medium-centered column"><button id="<%= reviewer.id %>">See <%= reviewer.first_name %>'s Bias</button></div>
          <!-- One could argue my JS should be separate from the view, but I think it's helpful to have it here in plain site and Ruby makes things easier. -->
          <script>
            <% reviewer_ids.each do |id| %>
              $('#' + <%= id %> ).click(function() {
                $.ajax({
                   method: 'PATCH',
                   url: '/reviews/' + <%= id %>,
                   dataType: 'html',
                   success: function(data){
                    // TODO Increasing #biasContainerHelper width is effective but I'd like to find a more elegant solution
                    $("#biasContainerHelper").css('width', '150%');
                    $("#reviewContent").addClass('col-md-8');
                    $("#biasCard").remove();
                    $("#reviewContent").after(data);
                   },
                   error: function(response) {
                     console.log("error")
                   }
                });
              });
              <% end %>
          </script>
        </div>
      <% end %>
  </div>
 <!-- </div> -->
