<div id="whyDoesThisExist" class="row">
  <div id="reviewContent" class="col-md-12">
    <div class="row nameAndScoreRow">
      <div id="cityName" class="cityName col-sm-10">
        <%= @clicked_city.name %>
      </div>
      <div class="cityScore col-sm-2">
        <div class="cityCircle" style="background-color: #<%= @clicked_city.color_gradient %>">
            <div class="cityScore"><%= number_to_percentage(@clicked_city.city_review_average * 10, precision: 0) %></div>
        </div>
      </div>
    </div>
      <% @clicked_city.reviews.each do |review| %>
        <% reviewer = User.find(review.user_id) %>
        <div class="reviewTitle"> <%= reviewer.first_name %>'s Take</div>
          <%= review.description %>
        <div class="row seeBiasButton">
          <div class="medium-6 medium-centered column"><button id="<%= reviewer.first_name %>">See <%= reviewer.first_name %>'s Bias</button></div>
         <!-- TODO learn a nice rails way to do this -->
          <script>
            var reviewerName = "<%= reviewer.first_name %>"
            $('#' + reviewerName ).click(function() {
              $.ajax({
                 method: 'PATCH',
                 url: '/reviews/' + <%= reviewer.id.to_s %>,
                 dataType: 'html',
                 success: function(data){
                  // this is such a hack
                  $("#whyDoesThisExist").css('width', '150%');
                  $("#reviewContent").attr("class", 'col-md-8');
                  $("#biasCard").remove();
                  $("#reviewContent").after(data);
                 },
                 error: function(response) {
                   console.log("error")
                 }
              });
            });
          </script>
        </div>
      <% end %>
  </div>
</div>
