<div id="reviewContent" class="col-md-12 standardContainer">
  <div class="row">
    <div class="medium 1 columns end">
      <a><span id="x">x</span></a>
    </div>
  </div>
  <div class="row cityNameAndScoreRow">
    <div id="cityName" class="cityName medium-10 column">
      <%= @clicked_city.name %>
    </div>
    <div class="cityCircle medium-2 column" style="background-color: <%= @clicked_city.color_gradient(@clicked_city.city_review_average) %>">
        <% unless @clicked_city.city_review_average.nil? %>
          <div class="cityScoreText"><%= number_to_percentage(@clicked_city.city_review_average * 10, precision: 0) %></div>
        <% end %>
    </div>
    <div><img src="http://assets.fodors.com/destinations/21/grand-palace-night-bangkok-thailand_main.jpg"></img></div>
  </div>
    <% reviewer_ids = [] %>
    <% @clicked_city.reviews.each do |review| %>
      <% reviewer = User.find(review.user_id) %>
      <% reviewer_ids << reviewer.id %>
      <div class="bias<%= reviewer.id %>">
        <h3> <%= reviewer.first_name.capitalize %>'s Take</h3>
          <%= simple_format(review.description) %>
      </div>
      <div class="row seeBiasButton">
        <div class="medium-6 medium-centered column"><button class="margin-auto biasButton" id="<%= reviewer.id %>">See <%= reviewer.first_name.capitalize %>'s Bias</button></div>
        <!-- One could argue my JS should be separate from the view, but I think it's helpful to have it here in plain site and Ruby makes things easier. -->
        <script>
          <% reviewer_ids.each do |id| %>
            $('#' + <%= id %> ).click(function() {
              $.ajax({
                 method: 'PATCH',
                 url: '/reviews/' + <%= id %>,
                 dataType: 'html',
                 success: function(data){
                  // $("#" + <%= id %>).empty().append("Close Bias").addClass("closeBiasButton");
                  $("#biasCard").remove();
                  $(".bias" + <%= id %>).append(data);
                 },
                 error: function(response) {
                   console.log("error")
                 }
              });
            });
            <% end %>

        </script>
      </div>
    <% end %>
</div>
