<div class="col-md-4 biasCard" id="biasCard">
  <%= @biased_user.first_name %>'s Bias
  <p>- <%= @biased_user.food_bias_text %></p>
  <p>- <%= @biased_user.outdoors_bias_text %></p>
  <p>- <%= @biased_user.city_person %></p>
  <p>- <%= @biased_user.off_beaten_track %></p>
  <p>- <%= @biased_user.touristy %></p>
</div>
